{% extends "base.html" %}
{% block title_head %}Lista Libros{% endblock title_head %}
{% block contenido %}
    
   <form action= {% url "listar"%} method="GET">

        {{formulario}}
        <input type="submit" value="Buscar">
   </form>

    {% if listado_de_libros %}
    
    <ul>
        {% for libro in listado_de_libros %}
            <li>
                {{ libro }} | <a href="{% url 'ver' libro.id %}">ver</a> 
                | <a href="{% url 'actualizar' libro.id %}">actualizar</a> 
                | <a href="{% url 'eliminar' libro.id %}">eliminar</a>

            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No se encontraron libros</p>
    {% endif %}

{% endblock contenido %}
